{% load static %}
<!doctype html>
<html>
  <head><title>Books Collection</title>
    <meta charset="UTF-8">
    <meta name="google-signin-client_id"
          content="755056304158-it034vck99qf6867crlu0470sjj7pna0.apps.googleusercontent.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Raleway" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}"/>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>$(document).ready(function () {
        gapi.load('auth2', function () {
            gapi.auth2.init();
        });
    });

    function onSignIn(googleUser) {
        var id_token = googleUser.getAuthResponse().id_token;
        sendToken(id_token);
        console.log("Logged In");
    }

    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }

    function signIn() {
      location.href = "{% url 'login'}";
    }

    function sendToken(token) {
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        var html;

        $.ajax({
            method: "POST",
            url: "",
            headers: {
                "X-CSRFToken": csrftoken
            },
            data: {id_token: token},
            success: function (result) {
                console.log("Successfully send token");
                if (result.status === "0") {
                    html = "<h4 class='success'>Logged In</h4>";
                    window.location.replace(result.url);
                } else {
                    html = "<h4 class='fail'>Something error, please report</h4>"
                }
                $("h4").replaceWith(html)
            },
            error: function () {
                alert("Something error, please report")
            }
        })
    }
</script>
  </head>
  <body id="body">
    <section>
    <div class="row">
      <div class="col-sm-6">
        {% csrf_token %}
        <h3>Hello, {{ name }}</h3>
        <a class="signout" href="{% url 'logout' %}" id="logout" onclick="signOut()">Logout</a>
      </div>
      </div>
    </section>
    <div class="container">
    <br>
	   <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
          <form class="card card-sm">
              <div class="card-body row no-gutters align-items-center">
                  <div class="col-auto">
                      <i class="fas fa-search h4 text-body"></i>
                  </div>
                  <!--end of col-->
                  <div class="col">
                      <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search topics or keywords">
                  </div>
                  <!--end of col-->
                  <div class="col-auto">
                      <button class="btn btn-lg btn-success" type="submit">Search</button>
                  </div>
                  <!--end of col-->
              </div>
          </form>
      </div>
      <!--end of col-->
      </div>
      </div>
    <div id="books-container" class="container">
      <h1 id="title" align="center">Google Books Collection</h1>
      <h4 class="faved"><i class="fas fa-star"></i>Faved Books: <span id="favorited">0</span></h4>
      <table id="table" class="table table-hover table-striped">
        <thead class="thead-light">
          <tr align="center">
            <th>Cover</th>
            <th>Title</th>
            <th>Author</th>
            <th>Published Date</th>
            <th><img width="25" height="25" src="{% static 'images/favorite.png' %}"></th>
          </tr>
        </thead>
        <tbody>
          {% csrf_token %}
          {% for book in books %}
            <tr>
                <td align="center"><img width="100" height="125" src="{{ book.volumeInfo.imageLinks.thumbnail}}"></td>
                <td class="title">{{ book.volumeInfo.title }}</td>
                <td class="authors">{{ book.volumeInfo.authors.0 }}</td>
                <td class="publish-date">{{ book.volumeInfo.publishedDate }}</td>
                <td class="fav-btn" align="center"><img class="fav-icon" width="25" height="25" onclick="count(this)" src="{% static 'images/default.png' %}"
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </body>
    <script>
    $(function () {
        $(window).on('load', function () {
          $('#status').delay(800).fadeOut('slow');
        })
    });

    var counter = 0;
    var favedIcon = "{% static 'images/favorited.png' %}"
    var defaultIcon = "{% static 'images/default.png' %}"

    function count(caller, id) {
      console.log("clicked")
      if( $(caller).attr('src') == favedIcon) {
          $(caller).attr('src', defaultIcon);
          counter--;
          $("#favorited").html(counter);
      } else {
          $(caller).attr('src', favedIcon);
          counter++;
          $("#favorited").html(counter);
      }
    }

    }


</script>
  </html>
