{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="google-signin-client_id"
          content="755056304158-it034vck99qf6867crlu0470sjj7pna0.apps.googleusercontent.com">
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Raleway" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}"/>
    <script rel="script" type="text/javascript" src="{% static 'js/index.js' %}"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>$(document).ready(function () {
        gapi.load('auth2', function () {
            gapi.auth2.init();
        });
    });

    function onSignIn(googleUser) {
        var id_token = googleUser.getAuthResponse().id_token;
        sendToken(id_token);
        console.log("Logged In");
    }

    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }

    function signIn() {
      location.href = "{% url 'login'}";
    }

    function sendToken(token) {
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        var html;

        $.ajax({
            method: "POST",
            url: "",
            headers: {
                "X-CSRFToken": csrftoken
            },
            data: {id_token: token},
            success: function (result) {
                console.log("Successfully send token");
                if (result.status === "0") {
                    html = "<h4 class='success'>Logged In</h4>";
                    window.location.replace(result.url);
                } else {
                    html = "<h4 class='fail'>Something error, please report</h4>"
                }
                $("h4").replaceWith(html)
            },
            error: function () {
                alert("Something error, please report")
            }
        })
    }
</script>
  </head>
  <body>
    <section>
        {% csrf_token %}
        <div class="login container d-flex flex-column justify-content-center align-items-center">
          <h4>Please login first before continue..</h4>
          <div class="g-signin2" data-onsuccess="onSignIn"></div>
        </div>
    </section>
  </body>
</html>
